DATABASE_URL=
API_READ_TOKEN=
API_WRITE_TOKEN=
DATA_API_BASE_URL=

EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_MARKETPLACE_ID=EBAY_DE
EBAY_ACCEPT_LANGUAGE=de-DE
EBAY_API_DELAY_MS=1100
EBAY_MAX_CALLS_PER_RUN=1000
EBAY_MODELS_PER_RUN=50
EBAY_SOLD_RESULTS_PER_MODEL=8
EBAY_DAMAGED_RESULTS_PER_MODEL=8
EBAY_DAMAGED_CONDITION_IDS=7000
DEFAULT_REPAIR_COST_EUR=25

CATALOG_MAX_PAGES=80
CATALOG_DELAY_MS=2500

WALKMAN_LAND_MARKET_MODELS_PER_RUN=1091
WALKMAN_LAND_MARKET_MODEL_OFFSET=0
WALKMAN_LAND_MARKET_DELAY_MS=1600
WALKMAN_LAND_USD_TO_EUR=
